{% extends 'base.html.twig' %}

{% block title %}Subskrypcja jest już aktywna{% endblock %}

{% block body %}
    <h1>Twoja subskrypcja jest aktywna!</h1>
    <p>Wygląda na to, że jesteś już naszym subskrybentem.</p>
{% endblock %}