{% extends 'base.html.twig' %}

{% block title %}Potwierdzenie subskrypcji{% endblock %}

{% block body %}
    <h1>Dziękujemy!</h1>
    <p>
        Wygląda na to, że już wcześniej zapisałeś się do naszej subskrypcji, ale subskrypcja nie została potwierdzona.<br>
        Na podany adres email wysłaliśmy ponownie wiadomość z linkiem aktywacyjnym
    </p>
{% endblock %}