{% extends 'base.html.twig' %}

{% block title %}Potwierdź subskrypcję{% endblock %}

{% block body %}
    <h1>Potwierdź subskrypcję</h1>
    <p>Na Twój email wysłaliśmy wiadomość z linkiem do potwierdzenia subskrypcji.</p>
{% endblock %}