{% extends 'base.html.twig' %}

{% block title %}Anulowanie subskrypcji{% endblock %}

{% block body %}
    <h1>Anulowanie subskrypcji</h1>
    <p>Twoja subskrypcja została anulowana.</p>
{% endblock %}